.appcontainer {
  max-width: 800px;
  margin: 30px auto 0 auto;
  padding: 20px;
  background: #ffffff;
  min-height: 90vh;
}

.editor {
  margin-top: 20px;
}

.toolbar {
  padding: 0 0 10px 0;
}

.toolbar-button {
  border: none;
  margin: 4px;
  display: inline-block;
  border: none;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  color: #555555;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

.toolbar-button:focus, .toolbar-button:active {
  border: none
}

blockquote {
  border-left: 2px solid grey;
  padding-left: 10px;
}

.file {
  border: 2px solid;
  padding: 20px 2px 0 2px;
  margin: 2px 2px;
}
